* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 50px;
    height: auto;
}

.content-color {
    color: green;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    border-radius: 25px;
    padding: 10px;
}

/* ---------------- NAVBAR ---------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.navbar .logo {
    font-weight: 600;
    font-size: 17px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 15px;
}

.btn-nav {
    border: none;
    padding: 10px 22px;
    background: #000;
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}
/* ---------------- HERO SECTION ---------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* LEFT */
.hero-left {
    flex: 1;
}

/* ---------------- RIGHT SIDE / IMAGE ---------------- */
.hero-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.hero-right img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}

.first {
    margin-top: 0;
    letter-spacing: 3px;
    font-size: 13px;
    color: #666;
}

.hero h1 {
    margin-top: 15px;
    font-size: 55px;
    line-height: 1.1;
    font-weight: 800;
}

.hero h1 span {
    color: #07a45c;
}

.content {
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    line-height: 1.6;
    color: #666;
}

.main-btn {
    margin: 24px;
    padding: 14px 24px;
    border-radius: 25px;
    background: #1dbf73;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    line-height: 2;
}

/* TAG LIST */
.add-btn {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.add-btn span {
    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    background: white;
}
